# Predict The Flight Ticket Price with least loss

**Features**:

    Airline: The name of the airline.
    Date_of_Journey: The date of the journey
    Source: The source from which the service begins.
    Destination: The destination where the service ends.
    Route: The route taken by the flight to reach the destination.
    Dep_Time: The time when the journey starts from the source.
    Arrival_Time: Time of arrival at the destination.
    Duration: Total duration of the flight.
    Total_Stops: Total stops between the source and destination.
    Additional_Info: Additional information about the flight
    Price: The price of the ticket

### Import data and libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_excel(r'Flight_Ticket_Participant_Datasets/Data_Train.xlsx')
test = pd.read_excel(r'Flight_Ticket_Participant_Datasets/Test_set.xlsx')

In [4]:
train.shape, test.shape

((10683, 11), (2671, 10))

In [6]:
#train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
Airline            10683 non-null object
Date_of_Journey    10683 non-null object
Source             10683 non-null object
Destination        10683 non-null object
Route              10682 non-null object
Dep_Time           10683 non-null object
Arrival_Time       10683 non-null object
Duration           10683 non-null object
Total_Stops        10682 non-null object
Additional_Info    10683 non-null object
Price              10683 non-null int64
dtypes: int64(1), object(10)
memory usage: 918.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
Airline            2671 non-null object
Date_of_Journey    2671 non-null object
Source             2671 non-null object
Destination        2671 non-null object
Route              2671 non-null object
Dep_Time           2671 non-null object
Arrival_Time       2671 non-null object
Duration           2671 non-null object
Total_Stops        2671 non-null object
Additional_Info    2671 non-null object
dtypes: object(10)
memory usage: 208.8+ KB

In [7]:
train.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [8]:
for i in train.columns:
    print("Unique values in", i, train[i].nunique())

Unique values in Airline 12
Unique values in Date_of_Journey 44
Unique values in Source 5
Unique values in Destination 6
Unique values in Route 128
Unique values in Dep_Time 222
Unique values in Arrival_Time 1343
Unique values in Duration 368
Unique values in Total_Stops 5
Unique values in Additional_Info 10
Unique values in Price 1870

In [9]:
for i in test.columns:
    print("Unique values in", i, test[i].nunique())

Unique values in Airline 11
Unique values in Date_of_Journey 44
Unique values in Source 5
Unique values in Destination 6
Unique values in Route 100
Unique values in Dep_Time 199
Unique values in Arrival_Time 704
Unique values in Duration 320
Unique values in Total_Stops 5
Unique values in Additional_Info 6

### Data pre-processing

In [10]:
train_df = train[['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info', 'Date_of_Journey', 'Dep_Time', 
                  'Route', 'Arrival_Time', 'Price']]
test_df = test[['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info', 'Date_of_Journey', 'Dep_Time', 
                'Route', 'Arrival_Time']]

A new featue __Booking_Class__ is added to identify the booking class i.e. **Economy, Premium Economy & Business**. For the __'Premium Economy'__ and __Business__ class its already mentioned. Rest of the airlines it's assumed as __Economy__.

In [11]:
Class = {'IndiGo': 'Economy',
         'GoAir': 'Economy',
         'Vistara': 'Economy',
         'Vistara Premium economy': 'Premium Economy',
         'Air Asia': 'Economy',
         'Trujet': 'Economy',
         'Jet Airways': 'Economy',
         'SpiceJet': 'Economy',
         'Jet Airways Business': 'Business',
         'Air India': 'Economy',
         'Multiple carriers': 'Economy',
         'Multiple carriers Premium economy': 'Premium Economy'}
train_df['Booking_Class'] = train_df['Airline'].map(Class)
test_df['Booking_Class'] = test_df['Airline'].map(Class)

New feature __Market_Share__ is added to indicate market share of each airline. This information is taken mostly from Wikipedia. For _Multiple carriers_ & _Multiple carriers Premium Economy_ I have assumed 1% & for the _Trujet_ which is new entrant in the Airline I have assumed 0.1%.

In [12]:
market = {'IndiGo': 41.3,
         'GoAir': 8.4,
         'Vistara': 3.3,
         'Vistara Premium economy': 3.3,
         'Air Asia': 3.3,
         'Trujet': 0.1,
         'Jet Airways': 17.8,
         'SpiceJet': 13.3,
         'Jet Airways Business': 17.8,
         'Air India': 13.5,
         'Multiple carriers': 1,
         'Multiple carriers Premium economy': 1}
train_df['Market_Share'] = train_df['Airline'].map(market)
test_df['Market_Share'] = test_df['Airline'].map(market)

One of the very important factors which influences Flight Ticket price is how soon you book the ticket. Since this information was not provided in the dataset I have assumed 01-Mar-2019 as ticket booking date and created new feature __Days_to_Departure__

In [13]:
df1 = train_df.copy() 
df1['Day_of_Booking'] = '1/3/2019'
df1['Day_of_Booking'] = pd.to_datetime(df1['Day_of_Booking'],format='%d/%m/%Y')
df1['Date_of_Journey'] = pd.to_datetime(df1['Date_of_Journey'],format='%d/%m/%Y')
df1['Days_to_Departure'] = (df1['Date_of_Journey'] - df1['Day_of_Booking']).dt.days
train_df['Days_to_Departure'] = df1['Days_to_Departure']

df2 = test_df.copy() 
df2['Day_of_Booking'] = '1/3/2019'
df2['Day_of_Booking'] = pd.to_datetime(df2['Day_of_Booking'],format='%d/%m/%Y')
df2['Date_of_Journey'] = pd.to_datetime(df2['Date_of_Journey'],format='%d/%m/%Y')
df2['Days_to_Departure'] = (df2['Date_of_Journey'] - df2['Day_of_Booking']).dt.days
test_df['Days_to_Departure'] = df2['Days_to_Departure']

del df1, df2

In [14]:
train_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Date_of_Journey,Dep_Time,Route,Arrival_Time,Price,Booking_Class,Market_Share,Days_to_Departure
0,IndiGo,Banglore,New Delhi,non-stop,No info,24/03/2019,22:20,BLR → DEL,01:10 22 Mar,3897,Economy,41.3,23
1,Air India,Kolkata,Banglore,2 stops,No info,1/05/2019,05:50,CCU → IXR → BBI → BLR,13:15,7662,Economy,13.5,61

In [15]:
# Let's take only Arrial Time (withut including date)
train_df['Arrival_Time'] = train['Arrival_Time'].str.split(' ').str[0]
test_df['Arrival_Time'] = test['Arrival_Time'].str.split(' ').str[0]

Another important parameter which influences Flight Price is Departure time of the flight i.e. Morning, Noon, Evening or Night. So created this new feature __Dep_timeofday__ which indicate Departure Time of the day. Also applied same concept to Arrival Time and created another feature __Arr_timeofday__

In [16]:
def get_departure(dep):
    dep = dep.split(':')
    dep = int(dep[0])
    if (dep >= 6 and dep < 12):
        return 'Morning'
    elif (dep >= 12 and dep < 17):
        return 'Noon'
    elif (dep >= 17 and dep < 20):
        return 'Evening'
    else:
        return 'Night'
    
train_df['Dep_timeofday'] = train['Dep_Time'].apply(get_departure)   
test_df['Dep_timeofday'] = test['Dep_Time'].apply(get_departure) 

train_df['Arr_timeofday'] = train['Arrival_Time'].apply(get_departure)   
test_df['Arr_timeofday'] = test['Arrival_Time'].apply(get_departure)

Converted __Total_Stops__ categorical column into numeric

In [17]:
train_df['Total_Stops'] = train_df['Total_Stops'].str.replace('non-stop','0')
train_df['Total_Stops'] = train_df['Total_Stops'].str.replace('stops','')
train_df['Total_Stops'] = train_df['Total_Stops'].str.replace('stop','')
train_df['Total_Stops'].fillna(0, inplace=True)   
train_df['Total_Stops'] = train_df['Total_Stops'].astype(float)

test_df['Total_Stops'] = test_df['Total_Stops'].str.replace('non-stop','0')
test_df['Total_Stops'] = test_df['Total_Stops'].str.replace('stops','')
test_df['Total_Stops'] = test_df['Total_Stops'].str.replace('stop','')
#test_df['Total_Stops'].fillna(0, inplace=True)
test_df['Total_Stops'] = test_df['Total_Stops'].astype(float)

Converted __Duration__ column into minutes

In [37]:
train_df['Hours'] = train['Duration'].str.split(' ').str[0]
train_df['Hours'] = train_df['Hours'].str.replace('h','')
train_df['Hours'] = train_df['Hours'].str.replace('m','')
train_df['Hours'] = train_df['Hours'].astype(float)
train_df['Hours'].fillna(0, inplace=True) 

train_df['Minutes'] = train['Duration'].str.split(' ').str[1]
train_df['Minutes'] = train_df['Minutes'].str.replace('m','')
train_df['Minutes']= train_df['Minutes'].astype(float)
train_df['Minutes'].fillna(0, inplace=True)

test_df['Hours'] = test['Duration'].str.split(' ').str[0]
test_df['Hours'] = test_df['Hours'].str.replace('h','')
test_df['Hours'] = test_df['Hours'].str.replace('m','')
test_df['Hours'] = test_df['Hours'].astype(float)
test_df['Hours'].fillna(0, inplace=True) 

test_df['Minutes'] = test['Duration'].str.split(' ').str[1]
test_df['Minutes'] = test_df['Minutes'].str.replace('m','').astype(float)
test_df['Minutes'].fillna(0, inplace=True)

train_df['Hours'] = train_df['Hours'] * 60
train_df['Duration'] = train_df['Hours'] + train_df['Minutes']

test_df['Hours'] = test_df['Hours'] * 60
test_df['Duration'] = test_df['Hours'] + test_df['Minutes']

train_df.drop(['Hours', 'Minutes'], axis=1, inplace=True)
test_df.drop(['Hours', 'Minutes'], axis=1, inplace=True)

In [38]:
train_df.head(2)

,Airline,Source,Destination,Total_Stops,Additional_Info,Date_of_Journey,Dep_Time,Route,Arrival_Time,Price,Booking_Class,Market_Share,Days_to_Departure,Dep_timeofday,Arr_timeofday,Duration
0,IndiGo,Banglore,New Delhi,0.0,No info,24/03/2019,22:20,BLR → DEL,01:10,3897,Economy,41.3,23,Night,Night,170.0
1,Air India,Kolkata,Banglore,2.0,No info,1/05/2019,05:50,CCU → IXR → BBI → BLR,13:15,7662,Economy,13.5,61,Night,Noon,445.0

Let's take logarithmic values of __Price__ and __Duration__

In [39]:
train_df['Price'] = np.log1p(train_df['Price'])

train_df['Duration'] = np.log1p(train_df['Duration'])
test_df['Duration'] = np.log1p(test_df['Duration'])

In [40]:
train_df['Additional_Info'] = train_df['Additional_Info'].str.replace('No info', 'No Info')
test_df['Additional_Info'] = test_df['Additional_Info'].str.replace('No info', 'No Info')

Therea are lot of categorical variable. Used pandas __get_dummies__ to deal with all the categorical variables

In [41]:
train_df = pd.get_dummies(train_df, columns=['Airline', 'Source', 'Destination', 'Additional_Info', 'Date_of_Journey',
                                             'Dep_Time', 'Arrival_Time', 'Dep_timeofday', 'Booking_Class', 'Arr_timeofday'],
                          drop_first=True)
test_df = pd.get_dummies(test_df, columns=['Airline', 'Source', 'Destination', 'Additional_Info', 'Date_of_Journey',
                                           'Dep_Time', 'Arrival_Time', 'Dep_timeofday', 'Booking_Class', 'Arr_timeofday'],
                         drop_first=True)

For the __Route__ column, I have applied TF-IDF text extraction to create one column for each value of location. There are 43 unique location so 43 new feature created out of __Route__ column. The results are stored in dataframe.

In [42]:
def clean_route(route):
    route = str(route)
    route = route.split(' → ')
    return ' '.join(route)

train_df['Route'] = train_df['Route'].apply(clean_route)
test_df['Route'] = test_df['Route'].apply(clean_route)

from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(ngram_range=(1, 1), lowercase=False)
train_route = tf.fit_transform(train_df['Route'])
test_route = tf.transform(test_df['Route'])

train_route = pd.DataFrame(data=train_route.toarray(), columns=tf.get_feature_names())
test_route = pd.DataFrame(data=test_route.toarray(), columns=tf.get_feature_names())

In [43]:
train_route.head(5)
#test_route.head(5)

,AMD,ATQ,BBI,BDQ,BHO,BLR,BOM,CCU,COK,DED,...,PAT,PNQ,RPR,STV,TRV,UDR,VGA,VNS,VTZ,nan
0,0.0,0.0,0.000000,0.0,0.0,0.783012,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.619874,0.0,0.0,0.194833,0.000000,0.248235,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.0,0.000000,0.241494,0.000000,0.271844,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.0,0.274089,0.000000,0.349214,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.000000,0.0,0.0,0.284914,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now, let's concatenate __train_route__ and __test_route__ dataframes with corresponding __train_df__ and __test_df__ dataframe which will be used further for modelling

In [44]:
train_df = pd.concat([train_df, train_route], axis=1) 
train_df.drop('Route', axis=1, inplace=True)

test_df = pd.concat([test_df, test_route], axis=1) 
test_df.drop('Route', axis=1, inplace=True)

In [45]:
train_df.head()
#test_df.head()

,Total_Stops,Price,Market_Share,Days_to_Departure,Duration,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,...,PAT,PNQ,RPR,STV,TRV,UDR,VGA,VNS,VTZ,nan
0,0.0,8.268219,41.3,23,5.141664,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,8.944159,13.5,61,6.100319,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,9.538420,17.8,100,7.039660,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,8.735364,41.3,72,5.786897,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,9.495745,41.3,0,5.655992,0,0,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Train test split

In [46]:
X = train_df.drop(labels=['Price'], axis=1)
y = train_df['Price'].values

from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.25, random_state=1)

In [47]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

((8012, 569), (8012,), (2671, 569), (2671,))

### Build the model

In [48]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error

In [50]:
import lightgbm as lgb
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_cv, label=y_cv)

param = {'objective': 'regression',
         'boosting': 'gbdt',
         'num_iterations': 3000,   
         'learning_rate': 0.06,  
         'num_leaves': 40,  
         'max_depth': 24,   
         'min_data_in_leaf':11,  
         'max_bin': 4, 
         'metric': 'l2_root'
         }

lgbm = lgb.train(params=param,
                 verbose_eval=1000,
                 train_set=train_data,
                 valid_sets=[test_data])

y_pred2 = lgbm.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred2))))

[1000]	valid_0's rmse: 0.107029
[2000]	valid_0's rmse: 0.105637
[3000]	valid_0's rmse: 0.105846
RMSLE: 0.10583180045635256

In [51]:
from xgboost import XGBRegressor
xgb = XGBRegressor(max_depth=9, 
                   learning_rate=0.5, 
                   n_estimators=112, 
                   silent=False, 
                   objective='reg:linear', 
                   booster='gbtree', 
                   n_jobs=1, 
                   nthread=None, 
                   gamma=0, 
                   min_child_weight=1, 
                   max_delta_step=0, 
                   subsample=1, 
                   colsample_bytree=1, 
                   colsample_bylevel=1, 
                   reg_alpha=1, 
                   reg_lambda=1, 
                   scale_pos_weight=1, 
                   base_score=0.5, 
                   random_state=0, 
                   seed=None)
xgb.fit(X_train, y_train)
y_pred1 = xgb.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred1))))
#RMSLE:0.11124007381703037

[22:41:54] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSLE: 0.11139759026601592

In [52]:
from sklearn.ensemble import BaggingRegressor
br = BaggingRegressor(base_estimator=None, 
                      n_estimators=50, 
                      max_samples=1.0, 
                      max_features=1.0, 
                      bootstrap=True, 
                      bootstrap_features=False, 
                      oob_score=False, 
                      warm_start=False, 
                      n_jobs=1, 
                      random_state=1, 
                      verbose=0)
br.fit(X_train, y_train)
y_pred3 = br.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred3))))
#RMSLE:0.11265336177662688

RMSLE: 0.11227471816888035

In [53]:
from sklearn.ensemble import GradientBoostingRegressor
gb = GradientBoostingRegressor(loss='ls', 
                               learning_rate=0.3, 
                               n_estimators=380, 
                               subsample=1.0, 
                               criterion='friedman_mse', 
                               min_samples_split=30, 
                               min_samples_leaf=1, 
                               min_weight_fraction_leaf=0.0, 
                               max_depth=7, 
                               min_impurity_decrease=0.0, 
                               min_impurity_split=None, 
                               init=None, 
                               random_state=0, 
                               max_features=None, 
                               alpha=0.9, 
                               verbose=100, 
                               max_leaf_nodes=None, 
                               warm_start=False, 
                               presort='auto')
gb.fit(X_train, y_train)
y_pred4 = gb.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred4))))
#RMSLE:0.11014737617371691

      Iter       Train Loss   Remaining Time
         1           0.1420            2.41m
         2           0.0829            2.56m
         3           0.0515            2.79m
         4           0.0356            2.79m
         5           0.0270            2.77m
         6           0.0225            2.67m
         7           0.0195            2.61m
         8           0.0177            2.53m
         9           0.0163            2.47m
        10           0.0155            2.39m
        11           0.0146            2.36m
        12           0.0141            2.28m
        13           0.0137            2.21m
        14           0.0133            2.16m
        15           0.0129            2.11m
        16           0.0127            2.03m
        17           0.0125            1.98m
        18           0.0124            1.92m
        19           0.0122            1.85m
        20           0.0117            1.84m
        21           0.0116            1.79m
        22           0.0112            1.77m
        23           0.0111            1.73m
        24           0.0111            1.68m
        25           0.0110            1.65m
        26           0.0109            1.62m
        27           0.0107            1.59m
        28           0.0106            1.56m
        29           0.0105            1.53m
        30           0.0104            1.51m
        31           0.0103            1.48m
        32           0.0103            1.46m
        33           0.0100            1.44m
        34           0.0100            1.42m
        35           0.0099            1.40m
        36           0.0097            1.39m
        37           0.0097            1.36m
        38           0.0096            1.34m
        39           0.0096            1.33m
        40           0.0095            1.31m
        41           0.0094            1.31m
        42           0.0093            1.29m
        43           0.0093            1.27m
        44           0.0092            1.26m
        45           0.0092            1.24m
        46           0.0091            1.23m
        47           0.0090            1.22m
        48           0.0090            1.21m
        49           0.0089            1.21m
        50           0.0089            1.20m
        51           0.0088            1.20m
        52           0.0087            1.21m
        53           0.0086            1.20m
        54           0.0085            1.20m
        55           0.0084            1.19m
        56           0.0083            1.20m
        57           0.0082            1.19m
        58           0.0082            1.18m
        59           0.0081            1.17m
        60           0.0081            1.16m
        61           0.0081            1.15m
        62           0.0080            1.14m
        63           0.0080            1.13m
        64           0.0080            1.12m
        65           0.0079            1.12m
        66           0.0079            1.11m
        67           0.0078            1.10m
        68           0.0078            1.10m
        69           0.0078            1.09m
        70           0.0078            1.08m
        71           0.0077            1.07m
        72           0.0077            1.06m
        73           0.0077            1.05m
        74           0.0077            1.04m
        75           0.0077            1.03m
        76           0.0075            1.04m
        77           0.0075            1.03m
        78           0.0075            1.02m
        79           0.0074            1.02m
        80           0.0073            1.02m
        81           0.0073            1.01m
        82           0.0072            1.01m
        83           0.0072            1.00m
        84           0.0072           59.72s
        85           0.0071           59.30s
        86           0.0071           58.91s
        87           0.0071           58.52s
        88           0.0071           58.08s
        89           0.0071           57.64s
        90           0.0071           57.28s
        91           0.0070           56.89s
        92           0.0070           56.47s
        93           0.0070           56.28s
        94           0.0069           56.22s
        95           0.0069           55.87s
        96           0.0068           55.62s
        97           0.0068           55.22s
        98           0.0068           54.85s
        99           0.0068           54.46s
       100           0.0067           54.10s
       101           0.0067           53.80s
       102           0.0067           53.44s
       103           0.0067           53.09s
       104           0.0066           53.06s
       105           0.0066           52.75s
       106           0.0066           52.50s
       107           0.0065           52.17s
       108           0.0065           52.26s
       109           0.0065           51.96s
       110           0.0064           51.68s
       111           0.0064           51.38s
       112           0.0064           51.04s
       113           0.0064           50.72s
       114           0.0064           50.35s
       115           0.0063           50.11s
       116           0.0063           49.78s
       117           0.0063           49.49s
       118           0.0063           49.20s
       119           0.0063           48.90s
       120           0.0063           48.65s
       121           0.0063           48.32s
       122           0.0062           47.99s
       123           0.0062           47.70s
       124           0.0062           47.41s
       125           0.0062           47.32s
       126           0.0062           47.07s
       127           0.0062           46.79s
       128           0.0061           46.53s
       129           0.0061           46.23s
       130           0.0061           45.99s
       131           0.0061           45.74s
       132           0.0061           45.47s
       133           0.0061           45.17s
       134           0.0060           45.02s
       135           0.0060           44.87s
       136           0.0060           44.60s
       137           0.0059           44.38s
       138           0.0058           44.10s
       139           0.0058           43.81s
       140           0.0058           43.53s
       141           0.0058           43.27s
       142           0.0058           43.01s
       143           0.0058           42.76s
       144           0.0057           42.54s
       145           0.0057           42.35s
       146           0.0057           42.24s
       147           0.0057           42.04s
       148           0.0056           41.80s
       149           0.0056           41.60s
       150           0.0056           41.34s
       151           0.0056           41.08s
       152           0.0056           40.87s
       153           0.0055           40.64s
       154           0.0055           40.41s
       155           0.0055           40.19s
       156           0.0055           39.95s
       157           0.0055           39.71s
       158           0.0055           39.54s
       159           0.0055           39.31s
       160           0.0055           39.07s
       161           0.0055           38.84s
       162           0.0054           38.59s
       163           0.0054           38.33s
       164           0.0054           38.09s
       165           0.0054           37.87s
       166           0.0054           37.62s
       167           0.0054           37.53s
       168           0.0054           37.31s
       169           0.0054           37.06s
       170           0.0053           36.95s
       171           0.0053           36.73s
       172           0.0053           36.55s
       173           0.0053           36.35s
       174           0.0053           36.12s
       175           0.0052           35.91s
       176           0.0052           35.67s
       177           0.0052           35.46s
       178           0.0052           35.22s
       179           0.0052           35.10s
       180           0.0052           34.91s
       181           0.0052           34.70s
       182           0.0052           34.46s

       183           0.0052           34.23s
       184           0.0051           34.01s
       185           0.0051           33.81s
       186           0.0051           33.62s
       187           0.0051           33.42s
       188           0.0051           33.18s
       189           0.0051           32.99s
       190           0.0051           32.81s
       191           0.0051           32.61s
       192           0.0050           32.39s
       193           0.0050           32.26s
       194           0.0050           32.15s
       195           0.0050           31.95s
       196           0.0050           31.74s
       197           0.0050           31.54s
       198           0.0049           31.38s
       199           0.0049           31.16s
       200           0.0049           30.97s
       201           0.0049           30.77s
       202           0.0049           30.70s
       203           0.0049           30.50s
       204           0.0049           30.31s
       205           0.0048           30.12s
       206           0.0048           30.00s
       207           0.0048           29.86s
       208           0.0047           29.76s
       209           0.0047           29.71s
       210           0.0047           29.49s
       211           0.0047           29.33s
       212           0.0046           29.16s
       213           0.0046           28.94s
       214           0.0046           28.73s
       215           0.0046           28.55s
       216           0.0046           28.44s
       217           0.0046           28.25s
       218           0.0046           28.06s
       219           0.0046           27.86s
       220           0.0046           27.66s
       221           0.0045           27.48s
       222           0.0045           27.31s
       223           0.0045           27.12s
       224           0.0045           26.91s
       225           0.0045           26.72s
       226           0.0045           26.54s
       227           0.0045           26.44s
       228           0.0044           26.28s
       229           0.0044           26.09s
       230           0.0044           25.88s
       231           0.0044           25.69s
       232           0.0044           25.48s
       233           0.0044           25.30s
       234           0.0044           25.11s
       235           0.0044           24.91s
       236           0.0044           24.76s
       237           0.0044           24.56s
       238           0.0043           24.37s
       239           0.0043           24.16s
       240           0.0043           23.98s
       241           0.0043           23.79s
       242           0.0043           23.60s
       243           0.0043           23.41s
       244           0.0043           23.23s
       245           0.0043           23.06s
       246           0.0043           22.87s
       247           0.0043           22.68s
       248           0.0043           22.49s
       249           0.0043           22.29s
       250           0.0043           22.10s
       251           0.0042           21.91s
       252           0.0042           21.72s
       253           0.0042           21.52s
       254           0.0042           21.32s
       255           0.0042           21.15s
       256           0.0042           20.96s
       257           0.0042           20.80s
       258           0.0042           20.61s
       259           0.0042           20.42s
       260           0.0042           20.24s
       261           0.0042           20.08s
       262           0.0041           19.94s
       263           0.0041           19.76s
       264           0.0041           19.63s
       265           0.0041           19.44s
       266           0.0041           19.26s
       267           0.0040           19.12s
       268           0.0040           18.98s
       269           0.0040           18.85s
       270           0.0040           18.67s
       271           0.0040           18.48s
       272           0.0039           18.31s
       273           0.0039           18.17s
       274           0.0039           18.00s
       275           0.0039           17.84s
       276           0.0039           17.66s
       277           0.0039           17.49s
       278           0.0039           17.29s
       279           0.0039           17.12s
       280           0.0039           16.93s
       281           0.0039           16.77s
       282           0.0039           16.59s
       283           0.0038           16.46s
       284           0.0038           16.31s
       285           0.0038           16.14s
       286           0.0038           15.96s
       287           0.0038           15.80s
       288           0.0037           15.63s
       289           0.0037           15.46s
       290           0.0037           15.29s
       291           0.0037           15.16s
       292           0.0037           14.98s
       293           0.0037           14.80s
       294           0.0037           14.62s
       295           0.0037           14.43s
       296           0.0037           14.26s
       297           0.0037           14.08s
       298           0.0037           13.90s
       299           0.0037           13.75s
       300           0.0037           13.57s
       301           0.0036           13.40s
       302           0.0036           13.24s
       303           0.0036           13.07s
       304           0.0036           12.93s
       305           0.0036           12.77s
       306           0.0036           12.65s
       307           0.0035           12.48s
       308           0.0035           12.31s
       309           0.0035           12.14s
       310           0.0035           11.99s
       311           0.0035           11.86s
       312           0.0035           11.70s
       313           0.0035           11.53s
       314           0.0034           11.37s
       315           0.0034           11.21s
       316           0.0034           11.03s
       317           0.0034           10.88s
       318           0.0034           10.71s
       319           0.0034           10.54s
       320           0.0034           10.36s
       321           0.0034           10.20s
       322           0.0034           10.02s
       323           0.0034            9.84s
       324           0.0034            9.67s
       325           0.0034            9.49s
       326           0.0034            9.32s
       327           0.0034            9.15s
       328           0.0033            8.97s
       329           0.0033            8.79s
       330           0.0033            8.61s
       331           0.0033            8.44s
       332           0.0033            8.26s
       333           0.0033            8.08s
       334           0.0033            7.92s
       335           0.0033            7.74s
       336           0.0033            7.57s
       337           0.0033            7.40s
       338           0.0033            7.23s
       339           0.0033            7.05s
       340           0.0033            6.88s
       341           0.0033            6.70s
       342           0.0033            6.52s
       343           0.0033            6.35s
       344           0.0033            6.18s
       345           0.0033            6.00s
       346           0.0033            5.82s
       347           0.0033            5.65s
       348           0.0033            5.47s
       349           0.0032            5.30s
       350           0.0032            5.13s
       351           0.0032            4.95s
       352           0.0032            4.78s
       353           0.0032            4.60s
       354           0.0032            4.43s
       355           0.0032            4.26s
       356           0.0032            4.09s
       357           0.0032            3.91s
       358           0.0032            3.74s
       359           0.0032            3.57s
       360           0.0032            3.40s
       361           0.0032            3.23s
       362           0.0032            3.06s
       363           0.0032            2.88s
       364           0.0032            2.71s
       365           0.0032            2.55s

       366           0.0032            2.38s
       367           0.0032            2.21s
       368           0.0031            2.04s
       369           0.0031            1.87s
       370           0.0031            1.70s
       371           0.0031            1.53s
       372           0.0031            1.36s
       373           0.0031            1.19s
       374           0.0031            1.02s
       375           0.0031            0.85s
       376           0.0031            0.68s
       377           0.0031            0.51s
       378           0.0031            0.34s
       379           0.0031            0.17s
       380           0.0031            0.00s
RMSLE: 0.10971702768869193

In [54]:
y_pred = y_pred1*0.10 + y_pred2*0.50 + y_pred3*0.20 + y_pred4*0.20
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred))))

RMSLE: 0.10125170185302688

## Predict on test set

In [55]:
train_df['Dep_Time_22:30'] = 0

In [56]:
missing_cols_test = []
for col in train_df.columns:
    if col not in test_df.columns:
        missing_cols_test.append(col)
        
for i in missing_cols_test:
    test_df[i] = 0

test_df.drop('Price', axis=1, inplace=True)

In [57]:
train_df = train_df.reindex(sorted(train_df.columns), axis=1)
test_df = test_df.reindex(sorted(test_df.columns), axis=1)

In [58]:
train_df.shape, test_df.shape

((10683, 571), (2671, 570))

In [59]:
X_train = train_df.drop(labels='Price', axis=1)
y_train = train_df['Price'].values

X_test = test_df

In [60]:
X_train.shape, X_test.shape

((10683, 570), (2671, 570))

In [61]:
from xgboost import XGBRegressor
xgb = XGBRegressor(max_depth=9, 
                   learning_rate=0.5, 
                   n_estimators=112, 
                   silent=False, 
                   objective='reg:linear', 
                   booster='gbtree', 
                   n_jobs=1, 
                   nthread=None, 
                   gamma=0, 
                   min_child_weight=1, 
                   max_delta_step=0, 
                   subsample=1, 
                   colsample_bytree=1, 
                   colsample_bylevel=1, 
                   reg_alpha=0.89, 
                   reg_lambda=1, 
                   scale_pos_weight=1, 
                   base_score=0.5, 
                   random_state=0, 
                   seed=None)
xgb.fit(X_train, y_train)
y_pred1 = xgb.predict(X_test)

[22:43:57] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [62]:
import lightgbm as lgb
train_data = lgb.Dataset(X_train, label=y_train)

param = {'objective': 'regression',
         'boosting': 'gbdt',
         'num_iterations': 3000,   
         'learning_rate': 0.06,  
         'num_leaves': 40,  
         'max_depth': 24,   
         'min_data_in_leaf':11,  
         'max_bin': 4, 
         'metric': 'l2_root'
         }

lgbm = lgb.train(params=param,
                 train_set=train_data)

y_pred2 = lgbm.predict(X_test)

In [63]:
from sklearn.ensemble import BaggingRegressor
br = BaggingRegressor(base_estimator=None, 
                      n_estimators=50, 
                      max_samples=1.0, 
                      max_features=1.0, 
                      bootstrap=True, 
                      bootstrap_features=False, 
                      oob_score=False, 
                      warm_start=False, 
                      n_jobs=1, 
                      random_state=1, 
                      verbose=0)
br.fit(X_train, y_train)
y_pred3 = br.predict(X_test)

In [64]:
from sklearn.ensemble import GradientBoostingRegressor
gb = GradientBoostingRegressor(loss='ls', 
                               learning_rate=0.3, 
                               n_estimators=380, 
                               subsample=1.0, 
                               criterion='friedman_mse', 
                               min_samples_split=30, 
                               min_samples_leaf=1, 
                               min_weight_fraction_leaf=0.0, 
                               max_depth=7, 
                               min_impurity_decrease=0.0, 
                               min_impurity_split=None, 
                               init=None, 
                               random_state=0, 
                               max_features=None, 
                               alpha=0.9, 
                               verbose=100, 
                               max_leaf_nodes=None, 
                               warm_start=False, 
                               presort='auto')
gb.fit(X_train, y_train)
y_pred4 = gb.predict(X_test)

      Iter       Train Loss   Remaining Time
         1           0.1432            3.22m
         2           0.0834            3.22m
         3           0.0531            3.19m
         4           0.0369            3.19m
         5           0.0277            3.15m
         6           0.0228            3.13m
         7           0.0201            3.10m
         8           0.0185            3.08m
         9           0.0171            3.04m
        10           0.0162            3.05m
        11           0.0154            3.01m
        12           0.0149            2.96m
        13           0.0146            2.87m
        14           0.0142            2.80m
        15           0.0139            2.73m
        16           0.0133            2.69m
        17           0.0131            2.61m
        18           0.0128            2.53m
        19           0.0125            2.48m
        20           0.0124            2.40m
        21           0.0123            2.37m
        22           0.0122            2.30m
        23           0.0121            2.25m
        24           0.0120            2.20m
        25           0.0116            2.19m
        26           0.0114            2.16m
        27           0.0114            2.11m
        28           0.0113            2.07m
        29           0.0111            2.04m
        30           0.0111            2.00m
        31           0.0109            1.98m
        32           0.0105            2.00m
        33           0.0105            1.97m
        34           0.0104            1.94m
        35           0.0104            1.91m
        36           0.0102            1.89m
        37           0.0102            1.89m
        38           0.0101            1.87m
        39           0.0101            1.84m
        40           0.0100            1.84m
        41           0.0099            1.83m
        42           0.0098            1.82m
        43           0.0096            1.82m
        44           0.0096            1.80m
        45           0.0095            1.78m
        46           0.0095            1.77m
        47           0.0094            1.75m
        48           0.0094            1.73m
        49           0.0094            1.71m
        50           0.0092            1.70m
        51           0.0091            1.70m
        52           0.0090            1.69m
        53           0.0089            1.67m
        54           0.0089            1.66m
        55           0.0088            1.64m
        56           0.0088            1.62m
        57           0.0088            1.61m
        58           0.0088            1.59m
        59           0.0088            1.58m
        60           0.0087            1.56m
        61           0.0087            1.55m
        62           0.0086            1.54m
        63           0.0086            1.53m
        64           0.0085            1.52m
        65           0.0085            1.51m
        66           0.0085            1.49m
        67           0.0084            1.49m
        68           0.0084            1.48m
        69           0.0083            1.48m
        70           0.0082            1.47m
        71           0.0080            1.47m
        72           0.0080            1.46m
        73           0.0080            1.44m
        74           0.0079            1.43m
        75           0.0079            1.42m
        76           0.0079            1.41m
        77           0.0078            1.40m
        78           0.0078            1.40m
        79           0.0077            1.39m
        80           0.0077            1.38m
        81           0.0077            1.37m
        82           0.0076            1.36m
        83           0.0076            1.35m
        84           0.0076            1.34m
        85           0.0075            1.34m
        86           0.0074            1.33m
        87           0.0074            1.32m
        88           0.0074            1.32m
        89           0.0073            1.31m
        90           0.0073            1.30m
        91           0.0073            1.29m
        92           0.0072            1.29m
        93           0.0071            1.29m
        94           0.0071            1.28m
        95           0.0071            1.27m
        96           0.0071            1.26m
        97           0.0070            1.26m
        98           0.0070            1.25m
        99           0.0070            1.24m
       100           0.0069            1.24m
       101           0.0069            1.23m
       102           0.0068            1.22m
       103           0.0068            1.22m
       104           0.0068            1.21m
       105           0.0068            1.21m
       106           0.0068            1.21m
       107           0.0067            1.22m
       108           0.0067            1.21m
       109           0.0067            1.21m
       110           0.0066            1.20m
       111           0.0066            1.19m
       112           0.0066            1.19m
       113           0.0066            1.18m
       114           0.0065            1.18m
       115           0.0065            1.17m
       116           0.0065            1.16m
       117           0.0064            1.17m
       118           0.0064            1.16m
       119           0.0064            1.15m
       120           0.0064            1.15m
       121           0.0064            1.14m
       122           0.0064            1.13m
       123           0.0063            1.13m
       124           0.0063            1.12m
       125           0.0063            1.11m
       126           0.0063            1.11m
       127           0.0063            1.10m
       128           0.0062            1.10m
       129           0.0062            1.10m
       130           0.0062            1.09m
       131           0.0061            1.09m
       132           0.0061            1.08m
       133           0.0061            1.08m
       134           0.0060            1.07m
       135           0.0060            1.07m
       136           0.0060            1.06m
       137           0.0060            1.05m
       138           0.0060            1.05m
       139           0.0059            1.04m
       140           0.0059            1.04m
       141           0.0059            1.04m
       142           0.0058            1.04m
       143           0.0058            1.04m
       144           0.0058            1.03m
       145           0.0058            1.03m
       146           0.0058            1.03m
       147           0.0058            1.02m
       148           0.0057            1.01m
       149           0.0057            1.01m
       150           0.0057            1.01m
       151           0.0057            1.00m
       152           0.0057           59.89s
       153           0.0057           59.52s
       154           0.0057           59.23s
       155           0.0057           58.98s
       156           0.0056           58.63s
       157           0.0056           58.37s
       158           0.0056           58.03s
       159           0.0056           57.80s
       160           0.0056           57.47s
       161           0.0056           57.19s
       162           0.0056           56.87s
       163           0.0055           56.52s
       164           0.0055           56.21s
       165           0.0055           55.86s
       166           0.0055           55.56s
       167           0.0055           55.21s
       168           0.0055           54.92s
       169           0.0055           54.80s
       170           0.0054           54.52s
       171           0.0054           54.20s
       172           0.0054           53.93s
       173           0.0054           53.69s
       174           0.0054           53.43s
       175           0.0054           53.15s
       176           0.0053           52.90s
       177           0.0053           52.59s
       178           0.0053           52.35s
       179           0.0053           52.01s
       180           0.0053           51.69s
       181           0.0053           51.38s
       182           0.0053           51.09s
       183           0.0053           50.75s

       184           0.0052           50.47s
       185           0.0052           50.13s
       186           0.0052           49.81s
       187           0.0052           49.52s
       188           0.0052           49.19s
       189           0.0052           48.88s
       190           0.0052           48.56s
       191           0.0052           48.28s
       192           0.0052           47.95s
       193           0.0052           47.64s
       194           0.0052           47.32s
       195           0.0052           47.05s
       196           0.0051           46.77s
       197           0.0051           46.47s
       198           0.0051           46.16s
       199           0.0051           45.89s
       200           0.0051           45.62s
       201           0.0051           45.31s
       202           0.0051           45.10s
       203           0.0050           44.79s
       204           0.0050           44.53s
       205           0.0050           44.22s
       206           0.0050           43.93s
       207           0.0050           43.62s
       208           0.0050           43.32s
       209           0.0050           43.07s
       210           0.0050           42.83s
       211           0.0049           42.75s
       212           0.0049           42.55s
       213           0.0049           42.26s
       214           0.0049           41.99s
       215           0.0049           41.70s
       216           0.0048           41.44s
       217           0.0048           41.23s
       218           0.0048           40.93s
       219           0.0048           40.61s
       220           0.0048           40.30s
       221           0.0048           40.04s
       222           0.0048           39.77s
       223           0.0048           39.48s
       224           0.0048           39.19s
       225           0.0048           38.90s
       226           0.0048           38.60s
       227           0.0047           38.33s
       228           0.0047           38.04s
       229           0.0047           37.73s
       230           0.0047           37.43s
       231           0.0047           37.16s
       232           0.0047           36.88s
       233           0.0047           36.59s
       234           0.0047           36.30s
       235           0.0047           36.03s
       236           0.0047           35.73s
       237           0.0047           35.45s
       238           0.0047           35.20s
       239           0.0047           34.91s
       240           0.0047           34.63s
       241           0.0046           34.34s
       242           0.0046           34.07s
       243           0.0046           33.77s
       244           0.0046           33.48s
       245           0.0046           33.21s
       246           0.0046           32.95s
       247           0.0046           32.71s
       248           0.0046           32.48s
       249           0.0045           32.33s
       250           0.0045           32.06s
       251           0.0045           31.81s
       252           0.0045           31.55s
       253           0.0045           31.26s
       254           0.0045           31.00s
       255           0.0045           30.73s
       256           0.0045           30.45s
       257           0.0045           30.30s
       258           0.0045           30.04s
       259           0.0045           29.76s
       260           0.0045           29.48s
       261           0.0044           29.25s
       262           0.0044           28.97s
       263           0.0044           28.72s
       264           0.0044           28.49s
       265           0.0044           28.24s
       266           0.0044           28.00s
       267           0.0044           27.74s
       268           0.0043           27.49s
       269           0.0043           27.22s
       270           0.0043           26.99s
       271           0.0043           26.74s
       272           0.0043           26.50s
       273           0.0043           26.28s
       274           0.0043           26.12s
       275           0.0043           25.85s
       276           0.0043           25.59s
       277           0.0042           25.32s
       278           0.0042           25.07s
       279           0.0042           24.80s
       280           0.0042           24.54s
       281           0.0042           24.27s
       282           0.0042           24.01s
       283           0.0042           23.79s
       284           0.0042           23.52s
       285           0.0042           23.25s
       286           0.0042           23.00s
       287           0.0042           22.75s
       288           0.0042           22.49s
       289           0.0042           22.23s
       290           0.0042           21.96s
       291           0.0042           21.72s
       292           0.0041           21.46s
       293           0.0041           21.20s
       294           0.0041           20.94s
       295           0.0041           20.74s
       296           0.0041           20.52s
       297           0.0041           20.35s
       298           0.0041           20.10s
       299           0.0040           19.86s
       300           0.0040           19.62s
       301           0.0040           19.38s
       302           0.0040           19.12s
       303           0.0040           18.86s
       304           0.0040           18.68s
       305           0.0040           18.42s
       306           0.0039           18.18s
       307           0.0039           17.92s
       308           0.0039           17.67s
       309           0.0039           17.41s
       310           0.0039           17.22s
       311           0.0039           16.97s
       312           0.0039           16.75s
       313           0.0039           16.50s
       314           0.0039           16.24s
       315           0.0039           15.98s
       316           0.0038           15.72s
       317           0.0038           15.46s
       318           0.0038           15.21s
       319           0.0038           14.95s
       320           0.0038           14.72s
       321           0.0038           14.47s
       322           0.0038           14.21s
       323           0.0038           13.96s
       324           0.0038           13.70s
       325           0.0038           13.45s
       326           0.0038           13.20s
       327           0.0038           12.95s
       328           0.0038           12.70s
       329           0.0038           12.45s
       330           0.0038           12.20s
       331           0.0037           11.96s
       332           0.0037           11.72s
       333           0.0037           11.47s
       334           0.0037           11.22s
       335           0.0037           10.97s
       336           0.0037           10.73s
       337           0.0037           10.49s
       338           0.0037           10.24s
       339           0.0037            9.99s
       340           0.0037            9.74s
       341           0.0037            9.50s
       342           0.0037            9.25s
       343           0.0037            9.03s
       344           0.0037            8.78s
       345           0.0036            8.54s
       346           0.0036            8.31s
       347           0.0036            8.06s
       348           0.0036            7.82s
       349           0.0036            7.57s
       350           0.0036            7.34s
       351           0.0036            7.09s
       352           0.0036            6.84s
       353           0.0036            6.59s
       354           0.0036            6.35s
       355           0.0036            6.10s
       356           0.0035            5.88s
       357           0.0035            5.63s
       358           0.0035            5.39s
       359           0.0035            5.14s
       360           0.0035            4.90s
       361           0.0035            4.65s
       362           0.0035            4.41s
       363           0.0035            4.16s
       364           0.0035            3.91s
       365           0.0035            3.67s
       366           0.0035            3.42s

       367           0.0035            3.17s
       368           0.0035            2.93s
       369           0.0035            2.68s
       370           0.0035            2.44s
       371           0.0034            2.20s
       372           0.0034            1.96s
       373           0.0034            1.72s
       374           0.0034            1.47s
       375           0.0034            1.22s
       376           0.0034            0.98s
       377           0.0034            0.73s
       378           0.0034            0.49s
       379           0.0034            0.24s
       380           0.0034            0.00s

In [65]:
y_pred = y_pred1*0.15 + y_pred2*0.50 + y_pred3*0.15 + y_pred4*0.20

In [66]:
y_pred = np.exp(y_pred)

In [67]:
y_pred[:5]

array([14563.48876669,  4249.25628794, 12845.29180515, 11502.22114691,
        3929.12154623])

In [72]:
df_sub = pd.DataFrame(data=y_pred, columns=['Price'])
#writer = pd.ExcelWriter('Output.xlsx')
#with pd.ExcelWriter('output.xlsx') as writer:
    #df1.to_excel(writer, sheet_name='Sheet_name_1')
    #df_sub.to_excel(writer,sheet_name='Sheet1', index=False)
#writer.save()

In [70]:
df_sub.head()

          Price
0  14563.488767
1   4249.256288
2  12845.291805
3  11502.221147
4   3929.121546